body > footer {
position: absolute;
bottom: 0;
padding: 1em 0 0 0;
background: white;
height: 3em;
width: 100%;
}
h1.home {
font-size: 6vh;
letter-spacing: -.2vh;
}
p {
line-height: 1.5em;
}
a {
color: gray;
}
a:visited {
color: gray;
}
a:hover {
color: navy;
text-decoration: underline;
}
