body > footer {
background: white;
color: black;
width: 100%;
margin-top: 1em;
border-top: 1px gray dotted;
font-size: smaller;
position: sticky;
bottom: 0;
}
h1.home {
font-size: 36pt;
letter-spacing: -.5pt;
}
p {
line-height: 1.5em;
}
a {
color: gray;
}
a:visited {
color: gray;
}
a:hover {
color: navy;
text-decoration: underline;
}
