body {
}
header {
text-align: right;
border-bottom: 1px gray solid;
}
footer {
position: -webkit-sticky;
position: sticky;
bottom: 0;
background: white;
height: 2vh;
}
ol {
list-style-type: square;
list-style-position: outside;
margin: 0;
padding: 0;
}
li {
margin-bottom: 0.5em;
prefix: "* ";
}
a {
color: gray;
}
a:visited {
color: silver;
}
a:hover {
color: navy;
text-decoration: underline;
}